<!DOCTYPE html>
<html>
<head>
  <title>My Personal Portfolio</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>personal poetfolio website</title>
  <link rel="stylesheet" href="portfoliacss.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
      

  <header>
    <nav>
        <img src="/static/portfolio.png">
        <ul>
            <li><a href="/"><button>Home</button></a></li>
            <li><a href="#about"><button>About</button></a></li>
            <li><a href="#skills"><button>Skills</button></a></li>
            <li><a href="#projects"><button>Skills</button></a></li>
            <li><a href="#certifications"><button>Certifications</button></a></li>
            <li><a href="#contact"><button>Contact Me</button></a></li>
        </ul>        
    </nav>
    <div class="landing">
        <div class="intro">
          <h3>Hi,I'm <Span>sindhu metti</Span></h3>
          <h3>Frontend developer</h3>
          <h3>This is my Portfolio Website for my details.</h3>
          
        </div>          
    </div>
  </header>

  <section class="about" id="about">
    
    <div class="aboutme">
      <h1>About Me</h1>
      <p>I am a curious and creative person who is always eager to learn new things. I am passionate about helping others and making the world a better place. I am also a bit of a perfectionist, which means that I always strive to do my best and produce high-quality work.</p>
      <p>In my free time, I enjoy reading, writing, playing video games, and spending time with my friends and family. I am also a big fan of science and technology, and I love learning about new discoveries and inventions.</p>
      <p>I am still under development, but I am excited to see what the future holds for me. I hope to continue learning and growing, and to use my abilities to make a positive impact on the world.</p>
      
    </div>
    <img src="/static/port-1.jpg">
    <div class="education">
      <div class="col">
        <div class="contents">
          <h1>EDUCATION</h1>
          <div class="box">
            <h4>INTERMEDIATE(2020-2022)</h4>
            <p>I have completed my Intermediate in Narayana junior college in Bhimavaram </p>
          </div>
          <div class="box">
            <h4>B-TECH(2022-2026)</h4>
            <p>I'm currently studying as a comuputer science engineering student in KAKINADA INSTITUTE OF ENGINEERING AND TECHNOLOGY korangi,Kakinada</p>
          </div>
        </div>
      </div>
      
    </div>

  </section>

  <section class="skills" id="skills">
    <h1>My Skills</h1>
    <div class="hello">
      <img src="/static/python.png">
      <div class="containers">
        <h2>PYTHON</h2>
        <div class="skillbar python">80%</div>
      </div>
    </div>
    <div class="hello">
      <img src="/static/html.png">
      <div class="containers">
        <h2>HTML</h2>
        <div class="skillbar html">85%</div>
      </div>
    </div>
    <div class="hello">
      <img src="/static/css.jpeg">
      <div class="containers">
        <h2>CSS</h2>
        <div class="skillbar css">80%</div>
      </div>
    </div>
    <div class="hello">
      <img src="/static/javascript.png">
      <div class="containers">
        <h2>JAVA SCRIPT</h2>
        <div class="skillbar js">30%</div>
      </div>
    </div>    
  </section>
  
  <section class="portfolio" id="certifications">
    <h1>Certifications</h1>
        <div class="scroll-container">
          <img src="/static/c .jpg" height="200" width="300">
          <img src="/static/edyst.jpg" height="200" width="300">
          <img src="/static/TTL.jpg" height="200" width="300">
          <img src="/static/hackthon 1.jpg" height="200" width="300">
          <img src="/static/hackthon.jpg" height="200" width="300">
        </div>
  </section>

  <section class="contact" id="contact">
    <h1>Contact Me</h1>
    <div class="container">
      <main class="row">
        <section class="col left">
          <div class="contactTitle">
            <h2>Get In Touch</h2>
            <p></p>
          </div>
          <div class="contactInfo">
					
            <div class="iconGroup">
              <div class="icon">
                <i class="fa-solid fa-phone"></i>
              </div>
              <div class="details">
                <span>Phone</span>
                <span>+91 9963262735</span>
              </div>
            </div>
  
            <div class="iconGroup">
              <div class="icon">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="details">
                <span>Email</span>
                <span>mettisindhu38@gmail.com</span>
              </div>
            </div>
  
            <div class="iconGroup">
              <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="details">
                <span>Address</span>
                <span>Lakshmi puram 521324</span>
              </div>
            </div>
  
          </div>
          <div class="socialMedia">
            
            <a href="https://github.com/sindhumetti"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/12_sindhu_12?igsh=MXZiMWZuM3o5cDZ0YQ=="><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sindhu-metti-15b215289?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
  
        </section>
        <section class="col right">
          <form class="messageForm">            
            <div class="inputGroup halfWidth">
              <input type="text" name="" required="required">
              <label>Your Name</label>
            </div>  
            <div class="inputGroup halfWidth">
              <input type="email" name="" required="required">
              <label>Email</label>
            </div>  
            <div class="inputGroup fullWidth">
              <input type="text" name="" required="required">
              <label>Subject</label>
            </div>  
            <div class="inputGroup fullWidth">
              <textarea required="required"></textarea>
              <label>Enter your Message</label>
            </div>  
            <div class="inputGroup fullWidth">
              <button>Send Message</button>
            </div> 
          </form>
        </section> 
      </main>
    </div>
  </section>
  <link rel="stylesheet" href="index.css">

</body>
</html>